@model TemplateSevenSource3Dominio.Funcionario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Entrar</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")



    @using (Html.BeginForm("Entrar", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div style="
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
        position: absolute;
        background-image: url('../../Imagens2/Funcionario2.jpg');
        background-repeat: no-repeat;
        background-size: cover" class="container">
            <div class="form-horizontal">
                <h4>Login</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", placeholder = "Usuário" } })
                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" }, placeholder = "Senha" })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input style="width:50%; text-align:center; display:inline" class="btn btn-lg btn-primary btn-block" type="submit" />
                    </div>
                </div>
            </div>
        </div>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
