@model IEnumerable<TemplateSevenSource3Dominio.Veiculo>

@{
    ViewBag.Title = "Veículos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="container">
    <h2 class="text-center">Veículos cadastrados</h2>

    <p>
        @Html.ActionLink("Cadastrar novo veículo", "Cadastro", new { @class = "btn btn-success" })
    </p>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cambio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeMarca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DsManutencao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fotopath)

            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cambio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NomeMarca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DsManutencao)
                </td>
                <td>
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img style="width:100%; height:100%" src="@Url.Content("~/Content/CarrosImg/"+@item.fotopath)" alt="Image">
                            </a>
                        </div>
                    </div>
                </td>


                <td>
                    <table>

                        <tr>
                            <td>@Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-warning" })</td>

                            <td>@Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }, new { @class = "btn btn-info" })</td>

                            <td>@Html.ActionLink("Apagar", "Apagar", new { id = item.Id }, new { @class = "btn btn-danger" })</td>
                        </tr>
                    </table>
                </td>
            </tr>
        }

    </table>
</body>
