@model TemplateSevenSource3.Dominio.Categoria

@{
    ViewBag.Title = "Apagar";
}
<body class="container">
    <h2>Apagar</h2>

    <h3>Você deseja realmente apagar?</h3>
    <div>
        <h4>Categoria</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Valor_p_dia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Valor_p_dia)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Voltar às categorias", "Index")
            </div>
        }
    </div>
</body>