@model IEnumerable<TemplateSevenSource3.Dominio.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias cadastradas</h2>

<p>
    @Html.ActionLink("Cadastrar nova categoria", "Cadastro")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor_p_dia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descricao)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tipo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Valor_p_dia)
    </td>
    <td>
        @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
        @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
        @Html.ActionLink("Apagar", "Apagar", new { id = item.Id })
    </td>
</tr>
}

</table>
